
.title {
    text-align: center;
    font-family: sans-serif;
    font-size: large;
}

.descriptor {
    text-align: center;
    font-family: sans-serif;
    font-size: medium;
}

div.form
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

div.autocomplete-items {
    position:absolute;
    font-family: sans-serif;
    background-color: white;
}

div.game_table_head
{
    display: block;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

div.game_table_cell
{
    display: inline-block;
    text-align: center;
    font-family: sans-serif;
    margin-right: 2%;
    margin-left: 2%;
}

div.game_table {
    display: block;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}