<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/main.css"/>
    <script defer type="text/javascript" src="/static/map.js"></script>
</head>

<body>
    <div class="title">
        <h1>Kareem</h1>
    </div>
    <div class="descriptor">
        <h2>Wordle, but UCLA Basketball</h2>
    </div>
    
    <div class="form">
        <form id="form">
            <input id="input" name="guess" type="text" value=""></input>
        </form>
    </div>

    <p1 id="log"></p1>
    
    <div class="game_table_head">
        <div class="game_table_cell"></div>
        <div class="game_table_cell">PPG</div>
        <div class="game_table_cell">RPG</div>
        <div class="game_table_cell">APG</div>
        <div class="game_table_cell">FG%</div>
    </div>
    
    <div class="game_table" id="game_table"></div>


</body>
</html>